.employee-form {
  /* border-style:  solid; 
  /* margin-bottom: 10px; */
  /* margin-left: 10px; */
  border-style: solid;
  border-width: thin;
  padding: 10px;
  /* width: 50%; */
  margin: auto;
  width: 50%;
  /* border: 3px solid green; */
  /* padding: 10px; */

}
html{
  background-color:#F5F5DC
}

.employees-table {
  border-style: solid;
  border-width: thin;
  /* margin-bottom: 10px; */
  /* margin-left: 10px; */
  padding: 20px;
  /* width: 50%; */
  margin: auto;
  width: 60%;
  /* border: 3px solid green; */
  /* padding: 10px; */
}

body > table{
  width: 70%;
}

table{
  border-collapse: collapse;
}
table.list{
  width:100%;
}

td, th {
  border: 1px solid #dddd;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
  background-color: #dddddd;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color:#5F9EA0;
  color:black;
  padding: 10px 18px;
  /* margin: 0px 0; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form div.form-action-buttons{
  text-align: right;
}


label.validation-error{
  color:   red;
  margin-left: 5px;
  font-size: small;
}

.hide{
  display:none;
}
.b1{
  width: 20%;
  background-color:#20B2AA;
  color: white;
  padding: 10px 18px;
  /* margin: 0px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.b2{
  width: 20%;
  background-color:#696969;
  color: white;
  padding: 10px 18px;
  /* margin: 0px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
#gender{
  width: 20%;
  background-color:white;
  padding: 10px 15px;
  /* margin: 0px 0; */
  border: none;
  border-radius: 4px;
  
}